/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f0f2f5 25%, #e9ecef 25%, #e9ecef 50%, #f0f2f5 50%, #f0f2f5 75%, #e9ecef 55%, #e9ecef 100%);
	background-size: 56.57px 56.57px;
	background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: auto; /* Asegura que la página sea desplazable */
    position: relative;
}

.background-emojis {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

.emoji {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    animation: move-diagonally 10s linear infinite;
}

@keyframes move-diagonally {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100px, 100px);
    }
}

.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #fff;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #333;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="number"],
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

.dias-operacion,
.metodos-pago,
.opciones-entrega,
.opciones-reserva
 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dia,
.metodo,
.entrega,
.reserva
{
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dia:hover,
.metodo:hover,
.entrega:hover,
.reserva:hover
{
    background: #ced4da;
}

.dia.selected,
.metodo.selected,
.entrega.selected,
.reserva.selected
{
    background: #007bff;
    color: #fff;
}

#metodos_pago_container input
{
    display: block;
    margin-bottom: 10px;
}

.plato,
.client {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f8f9fa;
}

.plato-header,
.client-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

.plato-body,
.client-body  {
    display: none;
    padding: 10px;
}

.plato-body.active,
.client-body.active  {
    display: block;
}

.plato label,
.client label {
    display: block;
    margin-bottom: 5px;
}

.plato input,
.client input {
    display: block;
    margin-bottom: 10px;
}
